{{if ne .chezmoi.os "windows"}}
AppData/
.chezmoiscripts/windows/**
{{end}}

{{if ne .chezmoi.os "linux"}}
.chezmoiscripts/linux/**
{{end}}

{{if ne .chezmoi.os "darwin"}}
**.mac.**
{{end}}

**/history.txt

readme.md

**/rustcast/ranking.toml