export const abbreviations = {
    "c": "clear",
    "g": "git",
    "ga": "git add -A",
    "gbd": "git branch -D",
    "gc": "git commit -m ",
    "gc-am": "git commit --amend --no-edit",
    "gccl": "git commit -m \"chore: ",
    "gcd": "git commit -m \"docs: ",
    "gcfr": "git commit -m \"refactor: ",
    "gcft": "git commit -m \"feat: ",
    "gcfx": "git commit -m \"fix: ",
    "gco": "git checkout",
    "gco-b": "git checkout -b",
    "gco-m": "git checkout master",
    "gcp": "git cherry-pick",
    "gcp-a": "git cherry-pick --abort",
    "gcp-c": "git cherry-pick --continue",

    "gcr": "git commit -m \"refactor: ",
    "gcsq": "git commit -m \"squash:",
    "gct": "git commit -m \"test:",
    "gdf": "git diff",
    "gfo": "git fetch origin",
    "gfod": "git fetch origin develop",
    "glg": `git log --color --graph --pretty=format:$'(ansi red)%h(ansi reset) - (ansi yellow)%d(ansi reset) %s (ansi green)[%cr] (ansi blue_bold)<%an>(ansi reset)' --abbrev-commit`
    "gm": "git merge",
    "gm-a": "git merge --abort",
    "gm-c": "git merge --continue",
    "gmd": "git merge develop",
    "gmm": "git merge master",
    "gmod": "git merge origin/develop",
    "gpl": "git pull origin",
    "gpll": "git pull origin (git branch | find "*"| get 0 | into string | ansi strip | str replace "*" "" | str trim)",
    "gpllo": "git pull origin",
    "gpsh": "git push origin (git branch | find "*"| get 0 | into string | ansi strip | str replace "*" "" | str trim)",
    "grb": "git rebase",
    "grb-c": "git rebase --continue",
    "gssh": "git stash",
    "gsshp": "git stash push -m",
    "gst": "git status",
    "jm-wb": "cd {{ .projects_dir }}/joom-js/apps/web-client; mise use node",
    "jm-ar": "cd {{ .projects_dir }}/joom-js/packages/admin-react; mise use node",
    "jm-ac": "cd {{ .projects_dir }}/joom-js/packages/admin-closure/client; mise use node",
    "gm--": `git fetch origin (git branch | find "*"| get 0 | into string | ansi strip | str replace "*" "" | str trim); git merge $"origin/(git branch | find "*" | get 0 | into string | ansi strip | str replace "*" "" | str trim)"`
}
