[general]
import = ["~/.config/alacritty/catppuccin-macchiato.toml"]

[terminal]

shell = "{{ .zellij_path }}"

[env]
TERM = "xterm-256color"
# XDG_CONFIG_HOME = "/Users/vbifonix/.config"
XDG_CONFIG_HOME = "C:\\Users\\vbifo\\.config"
ZELLIJ_CONFIG_DIR = "C:\\Users\\vbifo\\.config\\zellij"

[font]
size = 14.0

offset = { y = 4 }
glyph_offset = { y = 2 }

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.bold_italic]
family = "JetBrainsMono Nerd Font"
style = "Bold Italic"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[window]

padding = { x = 20, y = 20 }
decorations = "Transparent"
